.head {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightblue;
}
.head ul li {
    list-style: none;
    display: inline;
    font-weight: 900;
    font-size: 44px;
}
.head a {
    text-decoration: none;
    color: crimson;
    font-weight: 900;
}
.box {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.box .tokki img {
    width: 100%;;
    object-fit: cover;
}
.box .more_picture img {
    width: 100%;
    object-fit: cover;
}
.icon img {
    width: 50px;
    height: 50px;
    color: blueviolet;
}
@media screen and (max-width:768px) {
    .box {
        flex-direction: column;
    } 
    .head ul li {
        display: none;
    }
}
