* {
    box-sizing: border-box;
}

body {
    background-color: #edeef6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.tokki_conntainer {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.tokki_conntainer.show {
    pointer-events: auto;
    opacity: 1;
}

.tokki {
    background-color: white;
    width: 600px;
    max-width: 100%;
    border-radius: 5px;
    padding: 30px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

button {
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px 25px;
    font-size: 1rem;
}

.tokki h1{
    margin: 0;
}

.tokki p {
    font-size: 1rem;
    opacity: 0.7;
}