* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 150px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
button {
    font-size: 50px;
    border-radius: 1rem;
}
.menu {
    position: absolute;
    top: 100%;
    width: 0;
    list-style: none;
    background-color: lightgreen;
    display: grid;
    justify-content: center;
    overflow: hidden;
}
.menu li {
    padding: 10px 250px;
    text-align: center;
    border-bottom: 1px solid black;
    white-space: nowrap;
}