* {
    text-decoration: none;
}
header {
    width: 100%;
    height: 150px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    margin-left: 30px;
    font-family: monospace;
    font-weight: bold;
    font-size: 40px;
    color: navy;
}
nav {
    margin-right: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
}
nav li {
    list-style: none;
    margin: 10px;
}
nav button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 2px solid orangered;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
nav button:hover {
    background-color: orangered;
    color: white;
}
